* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}

.card {
    background-color: white;
    width: 24%;
    padding: 1.2em;
    border-radius: 1em;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 100%;
    height: 200px;
    border-radius: 1em;
    background-image: url('resources/Cactus.jpg'); 
    background-size: cover;
    background-position: center;
}

.tag {
    background-color: rgb(202, 149, 255, 0.1);
    color: rgb(141, 51, 232);
    padding: 4px 12px;
    border-radius: 1em;
    display: inline-block;
    margin: 1em 0;
    font-weight: 600;
    font-size: 12px;
}

.card-title {
    color: #1a1a1a;
}

.card-description {
    color: #7d7d7d;
    line-height: 1.5;
    width: 90%;
    margin-bottom: 1em;
}

hr {
   border: none;
   height: 1px;
   background-color: #cdcaca88;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
   margin: 0 -1.2em;
}

.card-author {
    margin-top: 1em;
    color: #7d7d7d;
}

@media (max-width: 480px) {
    body {
        font-size: 15px;
    }
    .card {
        width: 90%;
        padding: 0.8em;
    }

    .card-description {
        width: 100%;
    }

    .card-image {
        background-image: url(resources/Cactus@2x.jpg);
        width: 100%;
        height: 150px;
        border-radius: 0.8em;
    }
}